.navContainer {
  width: 100%;
  display: flex;
}

.navContainer2 {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 70px;
}

.logoDetail {
  display: flex;
  padding-left: 30px;
  color: black;
  font-size: 40px;
}
.logoDetailP1 {
  color: #8db5d9;
}

.logoDetailP2 {
  color: #0d3659;
}

.home {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
}

.loginDetail {
  font-size: 25px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.loginDetail2 {
  color: black;
  padding: 5px;
  background-color: #eeecea;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
